body {
	background-color: #141414;
	color: #F1E3E4;
	font-family: 'Lato', sans-serif;
}

#logo {
	width: 100px;
}

.navbar {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

.jumbotron {
  background-image: url("../images/neonB.jpg");
  background-size: cover;
  height: 456px;
}

.jumbotron h1 {
	font-weight: bold;
	text-shadow: 5px 5px 5px #000000;
	font-family: 'Oswald', sans-serif;
}

.lead {
	text-shadow: 5px 5px 5px #000000;
}

.btn-explore {
	background-color: #FCA311;
	color: #141414;
	font-weight: bold;
	padding: 10px 30px;
	font-size: 1em;
}

.btn-explore:hover {
	box-shadow: 0px 0px 10px #fdba4e;
}

.btn-submit {
	background-color: #FCA311;
	color: #141414;
	font-weight: bold;
}

#hideButton {
	display: none;
}

#qnBoard {
	display: none;
}

#showQnBoard {
	padding-top: 1%;
	display: block;
	height: 30vh;
	width: 50vw;
	background-color: rgba(38, 38, 38, 0.8);
	font-weight: bold;
	text-align: center;
	color: #F1E3E4;
	box-shadow: 0px 0px 10px #fdba4e;
	border: 3px solid #fdba4e;

}

.card {
	max-width: 30rem;
	/*max-height: 15rem;*/
	display: inline-flex;
  margin: 1.0rem;
  /*overflow: text-truncate;*/
  font-size: 0.9rem;
}

.year {
	text-align: left;
}

@media only screen and (max-width: 700px) {

 	#showQnBoard {
 		height: 40vh;
 		width: 80vw;
 		font-size: 0.8em;
 	}

 }