body {
	background-color: #141414;
	color: #FCFCFC;
	font-family: 'Lato', sans-serif;
}

h5 {
	font-weight: bold;
}

a {
	color: #FCA311;
}

a:hover {
	color: #DC9522;
	text-decoration: underline;
}

#logo {
	width: 100px;
}

.navbar {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

.jumbotron {
  background-image: url("../images/neonB.jpg");
  background-size: cover;
  height: 456px;
}

.jumbotron h1 {
	font-weight: bold;
	text-shadow: 5px 5px 5px #000000;
	font-family: 'Oswald', sans-serif;
}

.lead {
	text-shadow: 5px 5px 5px #000000;
}

.btn-explore {
	background-color: #FCA311;
	color: #141414;
	font-weight: bold;
	padding: 10px 30px;
	font-size: 1em;
}

.btn-explore:hover {
	box-shadow: 0px 0px 10px #fdba4e;
}

.btn-submit {
	background-color: #FCA311;
	color: #141414;
	font-weight: bold;
}

#hideButton {
	display: none;
}

#qnBoard {
	display: none;
}

#showQnBoard {
	padding-top: 1%;
	display: block;
	height: 30vh;
	width: 50vw;
	background-color: rgba(38, 38, 38, 0.8);
	text-align: center;
	box-shadow: 0px 0px 10px #fdba4e;
	border: 3px solid #fdba4e;
}

#recommend-title{
	font-family: 'Oswald', sans-serif;
}

.card {
	max-width: 30rem;
	display: inline-flex;
  margin: 1.0rem;
  font-size: 0.9rem;
  color: #141414;
  transition: 0.5s;
}

.card:hover {
	transform: scale(1.05);
}

.card-title {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

.year {
	text-align: left;
}

.nav-item {
	font-family: 'Oswald', sans-serif;
}

.tab-content, .tab-pane {
	background-color: #FCFCFC;
	color: #141414;
	padding: 2%;
}

.title, .year {
	border-bottom: 2px solid #FCA311;
}

.title h2, .year h2 {
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.vote, .add-icon {
	margin-top: 5%;
}

.pagination {
	justify-content: center;
}

.page-link {
	background-color: transparent;
	color: #7F7F7F;
	border: none;
}

.page-link:hover {
	background-color: transparent;
	border: none;
	color: #FCA311;
	text-decoration: underline;
}

.active-page {
	color: #FCA311 !important;
	padding: 0.5rem 0.75rem;
	display: block;
	line-height: 1.25;
}


@media only screen and (max-width: 700px) {

 	#showQnBoard {
 		height: 40vh;
 		width: 80vw;
 		font-size: 0.8em;
 	}

 }